html,
body {
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

* {
  box-sizing: border-box;

  transition: background 150ms ease-in, background-color 150ms ease-in;
}

#root {
  height: inherit !important;

  flex: 1;
}
